<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @city.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@city.picture_url, :width => 200, :height =>200) if @city.picture.present? %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
